{% extends "index.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block tytul %}Glowna{% endblock %}</title>
</head>
<body>
<div class="kontener">
    <div class="menu" style="float: left;background-color: yellow">
        <a href="/">Home</a>
        <br>
        <a href="/tabela">Tabela Glowna</a>
        <br>
        <a href="/sklad_druzyny">Sklad druzyny</a>
    </div>
    <div class="glowna" style="background-color: greenyellow;float: left">
        {% block zawartosc %}
            Tresc Home
        {% endblock %}
    </div>

</div>
</body>
</html>