{% extends "index.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block tytul %}Sklad druzyny{% endblock%}</title>
</head>
<body>
{% block zawartosc %}
    {% if druzyny %}
        {% for team in druzyny%}
         <strong>Lp. </strong> {{ team.Lp  }} <br>
            <strong>Klub: </strong>   {{ team.Nazwa_klubu }}<br>
            <strong>Trener: </strong>   {{  team.Trener}}<br>
            <strong>Bramkarze: </strong>   {{ team.Bramkarze }}<br>
            <strong>Obroncy: </strong>   {{ team.Obroncy }}<br>
            <strong>Pomocnicy: </strong>   {{ team.Pomocnicy }}<br>
            <strong>Napastnicy: </strong>  {{ team.Napastnicy }}
            <hr>
            <br>
        {% endfor %}
    {% else %}
        <a href="/sciaganie_druzyn">sciagnij sklad</a>
    {% endif %}
{% endblock %}
</body>
</html>